# Gradle 本地缓存与构建产物
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# IDEA 本地工程与运行配置
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

# Eclipse 本地工程与输出目录
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

# VS Code 工作区配置
.vscode/

# macOS 文件管理器元数据
.DS_Store

# 开发存档、数据生成缓存与本地发布目录
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
